body {
	font-family: Arial, sans-serif;
	padding-top: 2em;
	padding-bottom: 2em;
}

.container {
	padding: 1em 2em 1em 2em; /* use consistent padding */
}

.margin-1em {
	margin: 1em;
}

.margin-0 {
	margin: 0;
}

.heavy-drop-shadow {
	border-radius: 1em;
    -moz-box-shadow: 0 0 2em #777;
	-webkit-box-shadow: 0 0 2em #777;
	box-shadow: 0 0 2em #777;
}

.light-drop-shadow {
	border: 1px solid #CCC;
	border-radius: .5em;
	-moz-box-shadow: 0 0 .5em #777;
	-webkit-box-shadow: 0 0 .5em #777;
	box-shadow: 0 0 .5em #777;
}

.product {
	/*border: 1px dashed green;*/
	min-height: 22em;
}

/* http://stackoverflow.com/a/7310398/625688 */
.product > div:first-child {
	width: 161px;
	height: 133px; /* equals max image height */
    
    white-space: nowrap;
    /*border: 1px solid red;*/
    text-align: center;
}

.product > div:first-child > img {
    max-width: 161px;
    max-height: 133px;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}



#projector {
	padding-top: 2.8em; /* shadow baseline */
}

#printer {
	/* largest image */
}

#video {
	
}

#illustration {
	padding-top: 1em; /* shadow baseline */
}

.bundle-download {
	width: 149px; /* must match background-image */
	height: 49px; /* must match background-image */
	position: relative;
}

.bundle-download > a:first-child {
	display: block;
	position: absolute;
	background-image: url("../img/bundle-download.png");
	background-repeat: no-repeat;
	width: 149px; /* must match background-image */
	height: 49px; /* must match background-image */
	color: #FFF;
}

.bundle {
	/*display: block;*/
	position: absolute;
	top: .7em;
	left: 4.2em;
}

.download {
	/*display: block;*/
	position: absolute;
	top: 2.5em;
	left: 4.2em;
}

.list-container {
	width: 10.2em;
	background-color: #ddeffc;
	color: #737273;
	/*border: 1px solid red;*/
	position: relative;
	top: -20px;
	padding-top: 20px;
	z-index: -1;
}

/* This bundle includes: */
.list-container > p:first-child {
	/*border: 1px solid red;*/
	color: #00449f;
	margin: 0 1em 0 1em;
}
 
/* http://stackoverflow.com/a/16176036/625688 */
ul {
	/*border: 1px solid orange;*/
	list-style: square inside url('data:image/gif;base64,R0lGODlhBQAKAIABAAAAAP///yH5BAEAAAEALAAAAAAFAAoAAAIIjI+ZwKwPUQEAOw==');
	padding: 0;
	margin: 0 1em 1em 1em;
	min-height: 8em;
}

li {
	color: grey;
}

#green-giant {
	min-width: 12em;
	min-height: 32em;
	text-align: center;
}

.strike {
	text-decoration: line-through;
}

.tile {
	margin: 1em;
	padding: 1em;
	min-width: 15em;
	min-height: 15em;
}

.green-tile {
	/* http://www.colorzilla.com/gradient-editor/ */
	background: #71a306; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzcxYTMwNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM5MmVhMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #71a306 0%, #92ea00 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#71a306), color-stop(100%,#92ea00)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #71a306 0%,#92ea00 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #71a306 0%,#92ea00 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #71a306 0%,#92ea00 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #71a306 0%,#92ea00 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#71a306', endColorstr='#92ea00',GradientType=0 ); /* IE6-8 */
}

.green-tile a {
	color: #FFF;
}

.black-tile {
	background-color: #000;
	text-align: center;
}

.black-tile a {
	color: #FFF;
}

.black-tile > a > img {
	margin: 1em;
}

/**
 * supernova
 */
 
#supernova {
 	display: none;
 	position: absolute;
 	z-index: 999;
 	/*pointer-events: none;*/
}


/**
 * Portable text classes
 */

.color-money {
	color: #aae13c;
}

.color-blue {
	color: #2eaee9;
}

.color-green {
	color: #e88725;
}

.color-dark-grey {
	color: #4d4d4d;
}

.color-white {
	color: #FFF;
}

.font-size-48pt {
	font-size: 48pt;
}

.font-size-36pt {
	font-size: 36pt;
}

.font-size-32pt {
	font-size: 32pt;
}

.font-size-24pt {
	font-size: 24pt;
}

.font-size-18pt {
	font-size: 18pt;
}

.font-size-16pt {
	font-size: 16pt;
}

.font-size-14pt {
	font-size: 14pt;
}

.font-size-12pt {
	font-size: 12pt;
}

.font-size-10pt {
	font-size: 10pt;
}

.font-size-8pt {
	font-size: 8pt;
}

.bold {
	font-weight: bold;
}